# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

# for C++ files and meson.build
[*.{cpp,h},meson.build]
charset = utf-8
indent_size = 4

